.game-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2%;
}

.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
}

.characterImage {
  width: 100%;
  height: auto;
  margin-bottom: 2%;
}

.characterImageLoading {
  width: 57%;
  height: auto;
  margin-top: 50%;
  margin-bottom: 50%;
}

.characterNameContainer {
  white-space: nowrap;
  font-size: 0;
  display: inline;
}

.characterName {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-size: 32px;
  white-space: nowrap;
  padding-left: 2%;
}

.characterName span {
  display: inline;
  margin: 0;
  font-size: 32px;
  white-space: nowrap;
  font-weight: bold;
}

.fromP {
  font-size: 16px;
}

.animeNameP {
  font-size: 16px;
  font-weight: bold;
}

.content-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  text-align: center;
}

.character-info {
  text-align: center;
  color: transparent;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.blur-text {
  filter: blur(10px);
}

.no-blur {
  filter: none !important;
  color: white !important;
  text-shadow: none !important;
}

.input-field {
  width: 80%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 20px;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px;
}

.keyboard-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.keyboard-row button {
  width: 10%;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #636363;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 0.5%;
  color: #ffffff;
  border: none;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.button-large {
  width: 20% !important;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #636363;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 0.5%;
  color: #ffffff;
  border: none;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.keyboard-hints {
  display: flex;
  justify-content: space-between;
}

.keyboard-hints button {
  margin-top: 5%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #636363;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #ffffff;
  border: none;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: #5a5a5a;
}

.remove-button-icon {
  background-image: url('../../assets/images/remove-button.png');
  background-size: cover;
  width: 22px;
  height: 14px;
  display: inline-block;
}

.enter-button-icon {
  background-image: url('../../assets/images/enter-button.png');
  background-size: cover;
  width: 25px;
  height: 15px;
  display: inline-block;
}

.give-another {
  width: 25% !important;
}