.keyboard-hints {
    display: flex;
    justify-content: space-between;
}

.keyboard-hints button {
    margin-top: 5%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #636363;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #ffffff;
    border: none;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .keyboard-hints {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .keyboard-hints button {
        margin-top: 1%;
        margin-left: 1%;
        flex: 1;
        height: 50px;
        font-size: 10px;
    }

    .keyboard-hints button.give-another {
        height: 30px !important;
    }

    .keyboard-hints button:nth-child(-n+3) {
        flex: 0;
    }
}