.popup-choice-button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    width: 30%;
}

.popup-choice-button.active {
    background-color: #ff4775;
    color: white;
}

@media screen and (max-width: 768px) {
    .popup-choice-button {
        width: 40%;
        font-size: 12px;
        margin-top: 1%;
    }
}