.header-container {
    background-color: #1e1f22;
    color: #fff;
    padding: 1% 0;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 7%;
    width: 8%;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.app-name {
    font-weight: bold;
    margin-right: auto;
    margin-left: 2%;
}

.label {
    margin-right: 5%;
    font-weight: bold;
}

.label-spacing {
    margin-right: 10%;
}

.select {
    padding: 0.6%;
    border: 1px solid #555;
    background-color: #444;
    color: #fff;
    border-radius: 1%;
}

.select:focus {
    outline: none;
    border-color: #1E90FF;
}

.parameters {
    margin-left: auto;
    margin-right: 10%;
    display: inline-flex;
}
