.header-container {
    background-color: #1d1d20;
    color: #fff;
    padding: 1% 0;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 7%;
    width: 8%;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.app-name {
    font-weight: bold;
    margin-right: auto;
    margin-left: 2%;
}

.label {
    margin-right: 5%;
    font-weight: bold;
}

.label-spacing {
    margin-right: 10%;
}

.settings-button {
    height: 5%;
    width: 3%;
    margin-left: auto;
    align-self: center;
    position: absolute;
    right: 1%;
    background-image: url('../../assets/images/params.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    box-shadow: none !important;
}

.settings-button:hover {
    outline: none !important;
    box-shadow: none !important;
    background-image: url('../../assets/images/params2.png');
}