.header-container {
    background-color: #1d1d20;
    color: #fff;
    padding: 1% 0;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 7%;
    width: 8%;
    height: 8%;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.app-name {
    font-weight: bold;
    margin-right: auto;
    margin-left: 2%;
}

.label {
    margin-right: 5%;
    font-weight: bold;
}

.label-spacing {
    margin-right: 10%;
}

.settings-button {
    width: 3%;
    padding-top: 3%;
    margin-left: auto;
    position: absolute;
    right: 1%;
    background-image: url('../../assets/images/params.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    box-shadow: none !important;
}

.settings-button:hover {
    outline: none !important;
    box-shadow: none !important;
    background-image: url('../../assets/images/params2.png');
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .logo {
        width: 14%;
        margin-left: 2%;
    }

    .nav-list {
        display: flex;
    }

    .app-name,
    .label,
    .label-spacing {
        display: none;
    }

    .settings-button {
        right: 3%;
        width: 7%;
        padding-top: 7%;
    }
}